.products {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.product {
    display: flex;
    background-color: var(--primary-color);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    height: 229px;
    width: 480.77px;
    justify-content: space-between;
    color: white;
}
.product img {
    border-radius: 50%;
    height: 193.52px;
    width: 193.52px;
}
.product .product-name {
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.product .product-spec {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.product .product-code {
    font-size: 2rem;
    font-weight: 500;
}
